DATABASE_URL="postgresql://<user>:<password>@localhost:<port>/<db>"
CORS_ORIGINS='["http://localhost:5173"]'

POSTGRES_PORT=5432
POSTGRES_USER=<your_db_user>
POSTGRES_DB=<your_db_name>
POSTGRES_PASSWORD=<your_db_password>
